# venv 이하 모든 파일을 무시
/venv
# 패키지 정보가 들어있는 파일은 관리(일괄설치: pip install -r requirements.txt)
!/venv/requirements.txt

# log 디렉터리 이하 txt 확장자 파일은 로그 파일로 간주하고 전부 무시
/log/*.txt

# 클래스별 사진, 라벨링 데이터는 학습 시점마다 생성되는 요소이므로 역시 무시
/img_data